[user]
	name = Alex Hardwicke
	email = alex.hardwicke@outlook.com
[push]
	default = simple
	followTags = true
[alias]
	st = status
	branch-name = rev-parse --abbrev-ref HEAD
	publish = push -u origin master
    stash-peek = stash show -p stash@{0}
	wdiff = diff --word-diff=color
[color "diff"]
	meta = 6
	frag = 3
	old = 1
	new = 2
[color "status"]
	added = 2
	changed = 5
	untracked = 4
[color "branch"]
	current = 4
	local = 6
	remote = 3
[rebase]
    autosquash = true
[stash]
	showPatch = true
[core]
	editor = vim
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
