[user]
	name = Alexander Hardwicke
	email = me@alexhardwicke.com
[push]
	default = simple
	followTags = true
[alias]
	st = status -s # Show simple status
    stash-peek = stash show -p stash@{0} # Peek top of stash
	wdiff = diff --word-diff=color # Diff by word
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit # Pretty log
    sl = "!git log --all --grep=\"$1\" #" # Search log
    restore-file = "!git checkout $(git rev-list -n 1 HEAD -- \"$1\")^ -- \"$1\"" # Restore file
                                                                             # Note that 
[color "diff"]
	meta = 6
	frag = 3
	old = 1
	new = 2
[color "status"]
	added = 2
	changed = 5
	untracked = 4
[color "branch"]
	current = 4
	local = 6
	remote = 3
[rebase]
    autosquash = true
[stash]
	showPatch = true
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[diff]
	compactionHeuristic = true
[merge]
	conflictstyle = diff3
